
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}
body{
    background-size:cover;
    background-position:center
}
a{
font-size: 20px;
width: 400px;
border-radius: 30px;
background-color:white;
color:tomato;
}